In [4]:
import pandas as pd
import pyodbc

In [8]:
data = pd.read_excel("entidades.xlsx")

In [40]:
data.head()
data_arreglado = data.drop('index')
data_arreglado

KeyError: "['index'] not found in axis"

In [11]:
conection = pyodbc.connect("Driver={SQL Server};Server=sud-austral.database.windows.net;Database=sudaustral;uid=sudaustral;pwd=Sud123456789");
cursor = conection.cursor();
cursor.execute("SELECT * FROM ADMIN.A")
rows = cursor.fetchall()
"""
for row in rows:
    print(row)
https://tomaztsql.wordpress.com/2018/07/15/using-python-pandas-dataframe-to-read-and-insert-data-to-microsoft-sql-server/
"""
query = "SELECT * FROM ADMIN.A"
df = pd.read_sql(query, conection)
df.head(5)

   ID_LEVEL1                  NAME_LEVEL1
0        1.0            CIENCAS DEL CLIMA
1        2.0  VULNERABILIDAD Y ADAPTACIÓN
2        3.0                   MITIGACIÓN
3        4.0                        INGEI
4        5.0  COMPROMISOS INTERNACIONALES

In [7]:
import sqlalchemy

In [18]:
#data.to_sql("ENTIDADES", con=conection)
data.to_sql("dbo.ENTIDADES", con=conection)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW); [42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)")

In [19]:
""" 
sql_conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; SERVER=LAHU-TP\SQLEXPRESS; DATABASE=gotit;   Trusted_Connection=yes')
 
 df = pd.read_csv("input.csv", delimiter = ',')
 
 cursor = sql_conn.cursor()
 for index, row in df.iterrows():
   print(row)
 cursor.execute("INSERT INTO Employee([EmployeeID],[FirstName],[LastName],[ManagerID]) values(?,?,?,?)", row['EmployeeID'], row['FirstName'], row['LastName'], row['ManagerID'])
 
 sql_conn.commit()
 cursor.close()
 sql_conn.close()
 """

' \nsql_conn = pyodbc.connect(\'DRIVER={ODBC Driver 17 for SQL Server}; SERVER=LAHU-TP\\SQLEXPRESS; DATABASE=gotit;   Trusted_Connection=yes\')\n \n df = pd.read_csv("input.csv", delimiter = \',\')\n \n cursor = sql_conn.cursor()\n for index, row in df.iterrows():\n   print(row)\n cursor.execute("INSERT INTO Employee([EmployeeID],[FirstName],[LastName],[ManagerID]) values(?,?,?,?)", row[\'EmployeeID\'], row[\'FirstName\'], row[\'LastName\'], row[\'ManagerID\'])\n \n sql_conn.commit()\n cursor.close()\n sql_conn.close()\n '

In [41]:
import sqlalchemy
#eng = sqlalchemy.create_engine("mssql+pyodbc://sudaustral:Sud123456789@sud-austral.database.windows.net/sudaustral?driver=SQL+Server+Native+Client+11.0")

eng = sqlalchemy.create_engine("mssql+pyodbc://sudaustral:Sud123456789@sud-austral.database.windows.net/sudaustral?driver=SQL Server", echo=True)

In [43]:
data.to_sql("ENTIDADES", con=eng, if_exists="append", index=False)

2020-03-09 17:32:48,925 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2020-03-09 17:32:48,926 INFO sqlalchemy.engine.base.Engine ('ENTIDADES', 'dbo')
2020-03-09 17:32:49,370 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-09 17:32:49,373 INFO sqlalchemy.engine.base.Engine INSERT INTO [ENTIDADES] (id, ministerio, entidad, sigla, condicion) VALUES (?, ?, ?, ?, ?)
2020-03-09 17:32:49,375 INFO sqlalchemy.engine.base.Engine ((1, 'Ministerio de Interior', 'Subsecretaría de Interior', None, 'Organismo Centralizado'), (2, 'Ministerio de Interior', 'Subsecretaría de Desarrollo Regional y Administrativo', None, 'Organismo Centralizado'), (3, 'Ministerio de Interior', 'Oficina Nacional de Emergencia', 'ONEMI', 'Organismo Centralizado'), (4, 'Ministerio de Interior', 'Servicio Electoral', 'SERVEL', 'Organismo Autónomo'), (5, 'Ministerio de Interior', 'Gobiernos Regionales', 'GORE', 'Organismo Descentralizado'), (6, 'Ministerio de Interior', 'Subsecretaría de Prevención del Delito', None, 'Organismo Centralizado'), (7, 'Ministerio de Interior', 'Servicio de Gobierno Interior de la República', 'SGI', 'Organismo Centralizado'), (8, 'Ministerio de Interior', 'Servicio Nacional para la Prevención y Rehabilitación del Consumo de Drogas y Alcohol', 'SENDA', 'Organismo Descentralizado')  ... displaying 10 of 230 total bound parameter sets ...  (229, 'Ministerio de Bienes Nacionales', 'Subsecretaría', None, 'Organismo Centralizado'), (230, 'Banco Central', 'Banco Central', None, None))
2020-03-09 17:33:58,897 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-09 17:33:59,046 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2020-03-09 17:33:59,047 INFO sqlalchemy.engine.base.Engine ('dbo', 'BASE TABLE')